@mixin courses-block {
  width: 100%;
  height: 48px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: var(--white);
  color: var(--soft-blue);
}

.course-list {
  list-style-type: none;
}

.load-more-button {
  display: block;
  text-decoration: underline;

  font-size: 12px;

  @include courses-block();
}

.no-data-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 8px;

  font-size: 18px;

  @include courses-block();
}
