:host {
  display: block;
  padding: 0 85px 85px;
  min-height: 60vh;
}

.add-button {
  display: block;
  width: 138px;
  height: 36px;
  background-color: var(--dark-sky-blue);

  font-size: 14px;
  color: var(--white);

  margin-left: auto;
  margin-right: 0;
}
