:host {
  display: block;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: var(--white);
  margin: 24px 0;
  padding: 24px;
  box-sizing: border-box;
}

:host(.top-rated-course) {
  background-color: var(--blue);

  .course-data {
    color: var(--slate-grey) !important;
  }
}

.course-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .course-description {
    width: 70%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    color: var(--slate-grey);
    line-height: 1.71;
  }
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  width: 70%;

  .course-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);

    .star-icon {
      font-size: 20px;
      color: var(--yellow);
    }
  }

  .course-data {
    font-size: 12px;
    color: var(--silver);

    .course-icons {
      margin: 0 7px 0 15px;
      font-weight: normal;
    }
  }
}


