<div class='course-header'>
  <h2 class='course-title'>{{course.title}}</h2>
  <div class='course-data'>
    <fa-icon [icon]='faClock' class='course-icons'></fa-icon>
    <span>{{course.duration}}</span>
    <fa-icon [icon]='faCalendarAlt' class='course-icons'></fa-icon>
    <span>{{course.creationDate}}</span>
  </div>
</div>
<div class='course-content'>
  <p class='course-description'>{{course.description}}</p>
  <app-course-control-buttons
    (deleteCourse)='handleDeleteCourse()'
    (editCourse)='handleEditCourse()'>
  </app-course-control-buttons>
</div>
