<div class='course-header'>
  <h2 class='course-title'>
    Video Course.
    {{course.title | uppercase}}
    <fa-icon *ngIf='course.topRated' [icon]='faStar' class='star-icon'></fa-icon>
  </h2>
  <div class='course-data'>
    <fa-icon [icon]='faClock' class='course-icons'></fa-icon>
    <span>{{course.duration | duration}}</span>
    <fa-icon [icon]='faCalendarAlt' class='course-icons'></fa-icon>
    <span>{{course.creationDate | date: 'dd.MM.y'}}</span>
  </div>
</div>
<div class='course-content'>
  <p class='course-description'>{{course.description}}</p>
  <app-course-control-buttons
    (deleteCourse)='handleDeleteCourse()'
    (editCourse)='handleEditCourse()'>
  </app-course-control-buttons>
</div>
