@mixin colors {
  --charcoal-grey: #414452;
  --pale-grey-two: #f2f3f7;
  --sick-green: #9bc837;
  --dark-sky-blue: #30b6dd;
  --white: #ffffff;
  --slate-grey: #525462;
  --dark: #2c2f3c;
  --silver: #c0c3ce;
  --soft-blue: #577ce6;
  --yellow: #ffc900;
  --blue: #add8e6;
}
