:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: var(--charcoal-grey);
  color: var(--white);
}

.login-icons {
  display: flex;
  width: 169px;
  justify-content: space-between;
  margin-right: 39px;
}

.logo {
  margin-left: 85px;
}
